* {
	box-sizing: border-box;
}

:root {
	--e-item-stretch-bg: #404040;
	--e-item-bg: #454545;
	--e-text-default: #fafafa;
	--e-text-hl1: #f59d0a;
	--e-text-hl2: #51d9ef;
	--e-text-hl3: #f3c72c;
	--e-text-hl4: #ffe486;
	--e-text-ll1: #808080;
	--e-text-ll2: #cacaca;
	--e-text-ll3: #aaaaaa;

	--v-item-bg: #ffffff;
	--v-text-default: #303030;
	--v-text-hl1: #f59d0a;
	--v-text-hl2: #51d9ef;
	--v-text-hl3: #f3c72c;
	--v-text-hl4: #ffe486;
	--v-text-ll1: #c9c9c9;
	--v-text-ll2: #cacaca;
	--v-text-ll3: #aaaaaa;
}

.text_exposition_default {
	color: var(--e-text-default);
}

.text_exposition_hl1 {
	color: var(--e-text-hl1);
}

.text_exposition_hl2 {
	color: var(--e-text-hl2);
}

.text_exposition_hl3 {
	color: var(--e-text-hl3);
}

.text_exposition_hl4 {
	color: var(--e-text-hl4);
}

.text_exposition_ll1 {
	color: var(--e-text-ll1);
}

.text_exposition_ll2 {
	color: var(--e-text-ll2);
}

.text_exposition_ll3 {
	color: var(--e-text-ll3);
}

.text_exposition_sm {
	font-size: 16px;
}

.text_exposition_md {
	font-size: 18px;
}

.text_exposition_lg {
	font-size: 22px;
}

.text_exposition_xl {
	font-size: 28px;
	line-height: 32px;
}

.text_verse_default {
	color: var(--v-text-default);
}

.text_verse_hl1 {
	color: var(--v-text-hl1);
}

.text_verse_hl2 {
	color: var(--v-text-hl2);
}

.text_verse_hl3 {
	color: var(--v-text-hl3);
}

.text_verse_hl4 {
	color: var(--v-text-hl4);
}

.text_verse_ll1 {
	color: var(--v-text-ll1);
}

.text_verse_ll2 {
	color: var(--v-text-ll2);
}

.text_verse_ll3 {
	color: var(--v-text-ll3);
}

.text_verse_sm {
	font-size: 16px;
}

.text_verse_md {
	font-size: 18px;
}

.text_verse_lg {
	font-size: 22px;
}

.text_verse_xl {
	font-size: 28px;
	line-height: 32px;
	width: 100%;
	text-align: center;
	border-bottom: 1px dotted gray;
	padding-bottom: 0.4em;
	margin-bottom: 0.3em;
	display: block !important;
}

body {
	color: white;
	background-color: #303030;
	font-family: 'Roboto Condensed', sans-serif;
}

.App {
	display: grid;
	grid-template-rows: max-content auto;
}

.header {
	background-color: #404040;
	color: white;
	padding: 0.5em 1em;
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.header__app_name {
	font-size: 16px;
	padding: 0;
	margin: 0;
	/* transform: translateY(-2px); */
}

.header__view_selector_label {
	font-size: 12px;
	margin-left: 1em;
}

.header__view_selector_label::after {
	content: ':';
}

.header__view_selector {
	padding: 0;
	margin: 0;
	display: flex;
	height: 1.5em;
	gap: 0.5em;
}

.header__view_selector_button {
	border-radius: 0.2em;
	border: 0;
	padding: 0.3em 1em;
	margin: 0;
	background: var(--e-text-ll3);
	cursor: pointer;
	/* outline: 0; */
}

.header__view_selector_button--active {
	cursor: default;
	background: var(--e-text-hl4);
}

.data_display__item {
	line-height: 28px;
}

.data_display--exposition .data_display__item_wrapper {
	background-color: var(--e-item-stretch-bg);
}

.data_display--exposition .data_display__item {
	margin: 0.5em auto;
	max-width: 1000px;
	background-color: var(--e-item-bg);
}

.data_display--exposition .data_display__section {
	padding: 0.5em;
	border-top: 1px solid #ffffff30;
}

.data_display--exposition .data_display__section:first-child {
	border-top: 0;
}

@media screen and (min-width: 600px) {
	.data_display--exposition .data_display__item {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, 1fr);
		gap: 1em;
		border: 1px dashed #ffffff25;
		border-top: 0;
		border-bottom: 0;
	}

	.data_display--exposition .data_display__section {
		padding: 0.5em 1em;
		border: 0;
	}
}

.data_display__entry {
	display: inline;
}

.data_display__row {
	display: flex;
}

.data_display__row_icon {
	flex: 0 0;
	margin-right: 0.5em;
	color: var(--e-text-ll1);
}

.data_display__row_content {
	flex: 1 1;
}

.data_display__prefix {
	color: var(--e-text-ll1);
}

.data_display--verse .data_display__prefix {
	color: var(--v-text-ll1);
}

.data_display--verse {
	padding: 10px;
}

.data_display--verse .data_display__item {
	margin: 10px 10px 20px;
	padding: 1em 1.5em 0.8em;
	border-radius: 0.5em;
	background: var(--v-item-bg);
	box-shadow: 0 0 5px #ff9100af;
}

@media screen and (min-width: 690px) {
	.data_display--verse {
		columns: 2;
		column-gap: 0;
		margin: 0 auto;
		max-width: 670px;
	}

	.data_display--verse .data_display__item {
		margin: 10px;
		width: 310px;
		display: inline-block;
	}
}

@media screen and (min-width: 1030px) {
	.data_display--verse {
		columns: 3;
		max-width: 1000px;
	}
}
